@import "scss/var";

@import "../node_modules/bootstrap/scss/bootstrap";
@import "scss/bootstrap-rtl";
@import "scss/font";
@import "scss/font-aws";
@import "scss/noUI-style";

body, html {
  direction: rtl;
  text-align: right;
  font-size: 14px;
  font-family: Vazir;
  background-color: $body-bg;
}

.wrapper {
  width: 1280px;
  margin: 0 auto;
  display: flex;
}

.content {
  width: 100%;
}

.sidebar-right {
  padding: 6px;
  background-color: $white;
  box-shadow: 2px 0 10px 0 rgba(225, 226, 250, 0.7);
  width: 115px;
  text-align: center;
}

.header--tab {
  height: 44px;
  display: flex;
  align-items: center;
  background-color: $light-1;
  border-bottom: 1px solid rgba(133, 133, 139, 0.36);

  a {
    padding-bottom: 8px;
    margin-right: 24px;
    color: #85858b;

    &.active {
      border-bottom: 3px solid $green;
      color: #0a0b17;
    }
  }
}

.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
  padding: 0.5rem 0;
  color: $body-color;

  .icon {
    font-size: 20px;
  }

  &.active {
    background-color: #e1e2fa;
    color: #3e4289;
    @include border-radius(5px)
  }
}

.btn-new-event {
  background-color: #d3fff4;
  color: #06d6a0;
  border: #06d6a0 1px solid;
  display: flex;
  align-items: center;
  @include border-radius(5px)
}

.card-box {
  transition: 0.5s;

  &:hover {
    box-shadow: 0 2px 10px rgba(225, 226, 250, 0.7);
  }
}

.font-size-12 {
  font-size: 12px !important;
}

.bg-light-2 {
  background-color: $light;
}

.border-light {
  border: #ceced1 1px solid;
}

.text-light-2 {
  color: #9f9fa0 !important;
}

.text-green-2 {
  color: $green-1;
}

.input-group {
  .input-group-text {
    background-color: transparent;
  }
}

.chips {
  display: flex;
  flex-wrap: wrap;

  .chip {
    background-color: #f1f1fd;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 2px 5px;
    font-size: 12px;
    @include border-radius(15px);

    i {
      margin-left: 0.5rem;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.check-box {
  margin-bottom: 0.5rem;

  label {
    &:hover {
      cursor: pointer;
    }

    &.active {
      font-weight: bold !important;
    }

    display: flex;
    justify-content: space-between;
  }
}

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: $green-1;
  background-color: $green-1;
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  border-color: $green-1;
  background-color: $green-1;
}

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 0.2rem rgba($green-1, 0.25);
}

.table {
  thead {
    th {
      border: none;
    }
  }

  tr:first-child {
    td {
      border-top: none;
    }
  }

  .icon {
    color: $light-2;
    font-size: 16px;
  }
}

.calendar-card {
  .calendar-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
  }

  .weeks, .days {

    span {
      width: 14.2857%;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .weeks {
    display: flex;
    font-size: 10px;
    //justify-content: space-between;
  }

  .days {
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    span:nth-child(7n+7){
      color: #ff4438;
    }
    .free{
      color: #ff4438;
    }
    .active{
      background-color: #5358b6;
      color: $white;
      @include border-radius(3px);
    }
    .disabled{
      opacity: 0.4 !important;
    }
  }
}