
.pull-0 {
    right: auto;
    left: auto;
}
.pull-1 {
    right: auto;
    left: 8.333333%;
}
.pull-2 {
    right: auto;
    left: 16.666667%;
}
.pull-3 {
    right: auto;
    left: 25%;
}
.pull-4 {
    right: auto;
    left: 33.333333%;
}
.pull-5 {
    right: auto;
    left: 41.666667%;
}
.pull-6 {
    right: auto;
    left: 50%;
}
.pull-7 {
    right: auto;
    left: 58.333333%;
}
.pull-8 {
    right: auto;
    left: 66.666667%;
}
.pull-9 {
    right: auto;
    left: 75%;
}
.pull-10 {
    right: auto;
    left: 83.333333%;
}
.pull-11 {
    right: auto;
    left: 91.666667%;
}
.pull-12 {
    right: auto;
    left: 100%;
}
.push-0 {
    left: auto;
    right: auto;
}
.push-1 {
    left: auto;
    right: 8.333333%;
}
.push-2 {
    left: auto;
    right: 16.666667%;
}
.push-3 {
    left: auto;
    right: 25%;
}
.push-4 {
    left: auto;
    right: 33.333333%;
}
.push-5 {
    left: auto;
    right: 41.666667%;
}
.push-6 {
    left: auto;
    right: 50%;
}
.push-7 {
    left: auto;
    right: 58.333333%;
}
.push-8 {
    left: auto;
    right: 66.666667%;
}
.push-9 {
    left: auto;
    right: 75%;
}
.push-10 {
    left: auto;
    right: 83.333333%;
}
.push-11 {
    left: auto;
    right: 91.666667%;
}
.push-12 {
    left: auto;
    right: 100%;
}
.offset-1 {
    margin-left: inherit;
    margin-right: 8.333333%;
}
.offset-2 {
    margin-left: inherit;
    margin-right: 16.666667%;
}
.offset-3 {
    margin-left: inherit;
    margin-right: 25%;
}
.offset-4 {
    margin-left: inherit;
    margin-right: 33.333333%;
}
.offset-5 {
    margin-left: inherit;
    margin-right: 41.666667%;
}
.offset-6 {
    margin-left: inherit;
    margin-right: 50%;
}
.offset-7 {
    margin-left: inherit;
    margin-right: 58.333333%;
}
.offset-8 {
    margin-left: inherit;
    margin-right: 66.666667%;
}
.offset-9 {
    margin-left: inherit;
    margin-right: 75%;
}
.offset-10 {
    margin-left: inherit;
    margin-right: 83.333333%;
}
.offset-11 {
    margin-left: inherit;
    margin-right: 91.666667%;
}
@media (min-width: 576px) {
    .pull-sm-0 {
        right: auto;
        left: auto;
    }
    .pull-sm-1 {
        right: auto;
        left: 8.333333%;
    }
    .pull-sm-2 {
        right: auto;
        left: 16.666667%;
    }
    .pull-sm-3 {
        right: auto;
        left: 25%;
    }
    .pull-sm-4 {
        right: auto;
        left: 33.333333%;
    }
    .pull-sm-5 {
        right: auto;
        left: 41.666667%;
    }
    .pull-sm-6 {
        right: auto;
        left: 50%;
    }
    .pull-sm-7 {
        right: auto;
        left: 58.333333%;
    }
    .pull-sm-8 {
        right: auto;
        left: 66.666667%;
    }
    .pull-sm-9 {
        right: auto;
        left: 75%;
    }
    .pull-sm-10 {
        right: auto;
        left: 83.333333%;
    }
    .pull-sm-11 {
        right: auto;
        left: 91.666667%;
    }
    .pull-sm-12 {
        right: auto;
        left: 100%;
    }
    .push-sm-0 {
        left: auto;
        right: auto;
    }
    .push-sm-1 {
        left: auto;
        right: 8.333333%;
    }
    .push-sm-2 {
        left: auto;
        right: 16.666667%;
    }
    .push-sm-3 {
        left: auto;
        right: 25%;
    }
    .push-sm-4 {
        left: auto;
        right: 33.333333%;
    }
    .push-sm-5 {
        left: auto;
        right: 41.666667%;
    }
    .push-sm-6 {
        left: auto;
        right: 50%;
    }
    .push-sm-7 {
        left: auto;
        right: 58.333333%;
    }
    .push-sm-8 {
        left: auto;
        right: 66.666667%;
    }
    .push-sm-9 {
        left: auto;
        right: 75%;
    }
    .push-sm-10 {
        left: auto;
        right: 83.333333%;
    }
    .push-sm-11 {
        left: auto;
        right: 91.666667%;
    }
    .push-sm-12 {
        left: auto;
        right: 100%;
    }
    .offset-sm-0 {
        margin-left: inherit;
        margin-right: 0%;
    }
    .offset-sm-1 {
        margin-left: inherit;
        margin-right: 8.333333%;
    }
    .offset-sm-2 {
        margin-left: inherit;
        margin-right: 16.666667%;
    }
    .offset-sm-3 {
        margin-left: inherit;
        margin-right: 25%;
    }
    .offset-sm-4 {
        margin-left: inherit;
        margin-right: 33.333333%;
    }
    .offset-sm-5 {
        margin-left: inherit;
        margin-right: 41.666667%;
    }
    .offset-sm-6 {
        margin-left: inherit;
        margin-right: 50%;
    }
    .offset-sm-7 {
        margin-left: inherit;
        margin-right: 58.333333%;
    }
    .offset-sm-8 {
        margin-left: inherit;
        margin-right: 66.666667%;
    }
    .offset-sm-9 {
        margin-left: inherit;
        margin-right: 75%;
    }
    .offset-sm-10 {
        margin-left: inherit;
        margin-right: 83.333333%;
    }
    .offset-sm-11 {
        margin-left: inherit;
        margin-right: 91.666667%;
    }
}
@media (min-width: 768px) {
    .pull-md-0 {
        right: auto;
        left: auto;
    }
    .pull-md-1 {
        right: auto;
        left: 8.333333%;
    }
    .pull-md-2 {
        right: auto;
        left: 16.666667%;
    }
    .pull-md-3 {
        right: auto;
        left: 25%;
    }
    .pull-md-4 {
        right: auto;
        left: 33.333333%;
    }
    .pull-md-5 {
        right: auto;
        left: 41.666667%;
    }
    .pull-md-6 {
        right: auto;
        left: 50%;
    }
    .pull-md-7 {
        right: auto;
        left: 58.333333%;
    }
    .pull-md-8 {
        right: auto;
        left: 66.666667%;
    }
    .pull-md-9 {
        right: auto;
        left: 75%;
    }
    .pull-md-10 {
        right: auto;
        left: 83.333333%;
    }
    .pull-md-11 {
        right: auto;
        left: 91.666667%;
    }
    .pull-md-12 {
        right: auto;
        left: 100%;
    }
    .push-md-0 {
        left: auto;
        right: auto;
    }
    .push-md-1 {
        left: auto;
        right: 8.333333%;
    }
    .push-md-2 {
        left: auto;
        right: 16.666667%;
    }
    .push-md-3 {
        left: auto;
        right: 25%;
    }
    .push-md-4 {
        left: auto;
        right: 33.333333%;
    }
    .push-md-5 {
        left: auto;
        right: 41.666667%;
    }
    .push-md-6 {
        left: auto;
        right: 50%;
    }
    .push-md-7 {
        left: auto;
        right: 58.333333%;
    }
    .push-md-8 {
        left: auto;
        right: 66.666667%;
    }
    .push-md-9 {
        left: auto;
        right: 75%;
    }
    .push-md-10 {
        left: auto;
        right: 83.333333%;
    }
    .push-md-11 {
        left: auto;
        right: 91.666667%;
    }
    .push-md-12 {
        left: auto;
        right: 100%;
    }
    .offset-md-0 {
        margin-left: inherit;
        margin-right: 0%;
    }
    .offset-md-1 {
        margin-left: inherit;
        margin-right: 8.333333%;
    }
    .offset-md-2 {
        margin-left: inherit;
        margin-right: 16.666667%;
    }
    .offset-md-3 {
        margin-left: inherit;
        margin-right: 25%;
    }
    .offset-md-4 {
        margin-left: inherit;
        margin-right: 33.333333%;
    }
    .offset-md-5 {
        margin-left: inherit;
        margin-right: 41.666667%;
    }
    .offset-md-6 {
        margin-left: inherit;
        margin-right: 50%;
    }
    .offset-md-7 {
        margin-left: inherit;
        margin-right: 58.333333%;
    }
    .offset-md-8 {
        margin-left: inherit;
        margin-right: 66.666667%;
    }
    .offset-md-9 {
        margin-left: inherit;
        margin-right: 75%;
    }
    .offset-md-10 {
        margin-left: inherit;
        margin-right: 83.333333%;
    }
    .offset-md-11 {
        margin-left: inherit;
        margin-right: 91.666667%;
    }
}
@media (min-width: 992px) {
    .pull-lg-0 {
        right: auto;
        left: auto;
    }
    .pull-lg-1 {
        right: auto;
        left: 8.333333%;
    }
    .pull-lg-2 {
        right: auto;
        left: 16.666667%;
    }
    .pull-lg-3 {
        right: auto;
        left: 25%;
    }
    .pull-lg-4 {
        right: auto;
        left: 33.333333%;
    }
    .pull-lg-5 {
        right: auto;
        left: 41.666667%;
    }
    .pull-lg-6 {
        right: auto;
        left: 50%;
    }
    .pull-lg-7 {
        right: auto;
        left: 58.333333%;
    }
    .pull-lg-8 {
        right: auto;
        left: 66.666667%;
    }
    .pull-lg-9 {
        right: auto;
        left: 75%;
    }
    .pull-lg-10 {
        right: auto;
        left: 83.333333%;
    }
    .pull-lg-11 {
        right: auto;
        left: 91.666667%;
    }
    .pull-lg-12 {
        right: auto;
        left: 100%;
    }
    .push-lg-0 {
        left: auto;
        right: auto;
    }
    .push-lg-1 {
        left: auto;
        right: 8.333333%;
    }
    .push-lg-2 {
        left: auto;
        right: 16.666667%;
    }
    .push-lg-3 {
        left: auto;
        right: 25%;
    }
    .push-lg-4 {
        left: auto;
        right: 33.333333%;
    }
    .push-lg-5 {
        left: auto;
        right: 41.666667%;
    }
    .push-lg-6 {
        left: auto;
        right: 50%;
    }
    .push-lg-7 {
        left: auto;
        right: 58.333333%;
    }
    .push-lg-8 {
        left: auto;
        right: 66.666667%;
    }
    .push-lg-9 {
        left: auto;
        right: 75%;
    }
    .push-lg-10 {
        left: auto;
        right: 83.333333%;
    }
    .push-lg-11 {
        left: auto;
        right: 91.666667%;
    }
    .push-lg-12 {
        left: auto;
        right: 100%;
    }
    .offset-lg-0 {
        margin-left: inherit;
        margin-right: 0%;
    }
    .offset-lg-1 {
        margin-left: inherit;
        margin-right: 8.333333%;
    }
    .offset-lg-2 {
        margin-left: inherit;
        margin-right: 16.666667%;
    }
    .offset-lg-3 {
        margin-left: inherit;
        margin-right: 25%;
    }
    .offset-lg-4 {
        margin-left: inherit;
        margin-right: 33.333333%;
    }
    .offset-lg-5 {
        margin-left: inherit;
        margin-right: 41.666667%;
    }
    .offset-lg-6 {
        margin-left: inherit;
        margin-right: 50%;
    }
    .offset-lg-7 {
        margin-left: inherit;
        margin-right: 58.333333%;
    }
    .offset-lg-8 {
        margin-left: inherit;
        margin-right: 66.666667%;
    }
    .offset-lg-9 {
        margin-left: inherit;
        margin-right: 75%;
    }
    .offset-lg-10 {
        margin-left: inherit;
        margin-right: 83.333333%;
    }
    .offset-lg-11 {
        margin-left: inherit;
        margin-right: 91.666667%;
    }
}
@media (min-width: 1200px) {
    .pull-xl-0 {
        right: auto;
        left: auto;
    }
    .pull-xl-1 {
        right: auto;
        left: 8.333333%;
    }
    .pull-xl-2 {
        right: auto;
        left: 16.666667%;
    }
    .pull-xl-3 {
        right: auto;
        left: 25%;
    }
    .pull-xl-4 {
        right: auto;
        left: 33.333333%;
    }
    .pull-xl-5 {
        right: auto;
        left: 41.666667%;
    }
    .pull-xl-6 {
        right: auto;
        left: 50%;
    }
    .pull-xl-7 {
        right: auto;
        left: 58.333333%;
    }
    .pull-xl-8 {
        right: auto;
        left: 66.666667%;
    }
    .pull-xl-9 {
        right: auto;
        left: 75%;
    }
    .pull-xl-10 {
        right: auto;
        left: 83.333333%;
    }
    .pull-xl-11 {
        right: auto;
        left: 91.666667%;
    }
    .pull-xl-12 {
        right: auto;
        left: 100%;
    }
    .push-xl-0 {
        left: auto;
        right: auto;
    }
    .push-xl-1 {
        left: auto;
        right: 8.333333%;
    }
    .push-xl-2 {
        left: auto;
        right: 16.666667%;
    }
    .push-xl-3 {
        left: auto;
        right: 25%;
    }
    .push-xl-4 {
        left: auto;
        right: 33.333333%;
    }
    .push-xl-5 {
        left: auto;
        right: 41.666667%;
    }
    .push-xl-6 {
        left: auto;
        right: 50%;
    }
    .push-xl-7 {
        left: auto;
        right: 58.333333%;
    }
    .push-xl-8 {
        left: auto;
        right: 66.666667%;
    }
    .push-xl-9 {
        left: auto;
        right: 75%;
    }
    .push-xl-10 {
        left: auto;
        right: 83.333333%;
    }
    .push-xl-11 {
        left: auto;
        right: 91.666667%;
    }
    .push-xl-12 {
        left: auto;
        right: 100%;
    }
    .offset-xl-0 {
        margin-left: inherit;
        margin-right: 0%;
    }
    .offset-xl-1 {
        margin-left: inherit;
        margin-right: 8.333333%;
    }
    .offset-xl-2 {
        margin-left: inherit;
        margin-right: 16.666667%;
    }
    .offset-xl-3 {
        margin-left: inherit;
        margin-right: 25%;
    }
    .offset-xl-4 {
        margin-left: inherit;
        margin-right: 33.333333%;
    }
    .offset-xl-5 {
        margin-left: inherit;
        margin-right: 41.666667%;
    }
    .offset-xl-6 {
        margin-left: inherit;
        margin-right: 50%;
    }
    .offset-xl-7 {
        margin-left: inherit;
        margin-right: 58.333333%;
    }
    .offset-xl-8 {
        margin-left: inherit;
        margin-right: 66.666667%;
    }
    .offset-xl-9 {
        margin-left: inherit;
        margin-right: 75%;
    }
    .offset-xl-10 {
        margin-left: inherit;
        margin-right: 83.333333%;
    }
    .offset-xl-11 {
        margin-left: inherit;
        margin-right: 91.666667%;
    }
}
.list-unstyled {
    padding-left: initial !important;
    padding-right: 0;
}

/* ----------------- List Group ----------------- */
.list-group {
    padding-right: 0;
}

/* ---------------- List Inline -------------------- */
.list-inline {
    padding-right: 0;
}

.list-inline-item {
    margin-left: .5rem;
    margin-right: auto !important;
}

/* ------------------ Input Group --------------- */

.input-group > .input-group-append > .btn,
.input-group > .input-group-append > .input-group-text,
.input-group > .input-group-prepend:first-child > .btn:not(:first-child),
.input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child),
.input-group > .input-group-prepend:not(:first-child) > .btn,
.input-group > .input-group-prepend:not(:first-child) > .input-group-text {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.input-group > .input-group-append:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group > .input-group-append:last-child > .input-group-text:not(:last-child),
.input-group > .input-group-append:not(:last-child) > .btn,
.input-group > .input-group-append:not(:last-child) > .input-group-text,
.input-group > .input-group-prepend > .btn,
.input-group > .input-group-prepend > .input-group-text {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .2rem;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.input-group > .custom-select:not(:first-child),
.input-group > .form-control:not(:first-child) {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.input-group > .custom-select:not(:last-child),
.input-group > .form-control:not(:last-child) {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.input-group-prepend {
    margin-right: 0;
    margin-left: -1px;
}

.input-group-append {
    margin-left: 0;
    margin-right: -1px;
}

.input-group-append .btn + .btn,
.input-group-append .btn + .input-group-text,
.input-group-append .input-group-text + .btn,
.input-group-append .input-group-text + .input-group-text,
.input-group-prepend .btn + .btn,
.input-group-prepend .btn + .input-group-text,
.input-group-prepend .input-group-text + .btn,
.input-group-prepend .input-group-text + .input-group-text {
    margin-left: 0;
    margin-right: -1px;
}

.input-group > .custom-file + .custom-file,
.input-group > .custom-file + .custom-select,
.input-group > .custom-file + .form-control,
.input-group > .custom-select + .custom-file,
.input-group > .custom-select + .custom-select,
.input-group > .custom-select + .form-control,
.input-group > .form-control + .custom-file,
.input-group > .form-control + .custom-select,
.input-group > .form-control + .form-control {
    margin-left: 0;
    margin-right: -1px;
}

.input-group > .custom-file:not(:first-child) .custom-file-label,
.input-group > .custom-file:not(:first-child) .custom-file-label::before {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.input-group > .custom-file:not(:last-child) .custom-file-label,
.input-group > .custom-file:not(:last-child) .custom-file-label::before {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.custom-file-label::after {
    left: 0;
    right: auto;
    border-right: 1px solid #ced4da;
    border-radius: .25rem 0 0 .25rem;
}

.custom-control, .form-check {
    padding-left: 0;
    padding-right: 1.25rem;
}

.custom-control-label::before,
.custom-control-label::after {
    left: auto;
    right: -1.5rem;
}

.form-check-input {
    margin-left: 0;
    margin-right: -1.25rem;
}

/* ------------------ Btn Group ------------------ */

.btn-group > .btn-group:not(:last-child) > .btn,
.btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.btn-group > .btn-group:not(:first-child) > .btn,
.btn-group > .btn:not(:first-child) {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group,
.btn-group-vertical .btn + .btn,
.btn-group-vertical .btn + .btn-group,
.btn-group-vertical .btn-group + .btn,
.btn-group-vertical .btn-group + .btn-group {
    margin-right: -1px;
    margin-left: 0;
}

/* ----------------- Drop Down ---------------- */

.dropdown-menu {
    left: auto;
    right: 0;
    float: right;
    text-align: right;
}
.dropdown-toggle::after {
    margin-right: .255em;
    margin-left: 0
}

.dropright {
    direction: ltr;
}

.dropright > .btn:not(:last-child):not(.dropdown-toggle) {
    border-radius: .25rem 0 0 .25rem !important;
}

.dropright > .btn:not(:first-child) {
    border-radius: 0 .25rem .25rem 0 !important;
}

/* ------------------- Pagination ------------------------ */
.page-item:first-child .page-link {
    margin-right: 0;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.page-item:last-child .page-link {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

/* ------------------- Dismissing ------------------------ */
.alert-dismissible {
    padding-right: 1.25rem !important;
    padding-left: 4rem;
}

.alert-dismissible .close {
    left: 0;
    right: auto !important;
}
/* ------------------- Offsets ------------------------ */
.offset-1 {
    margin-right: 8.333333%
}

.offset-2 {
    margin-right: 16.666667%
}

.offset-3 {
    margin-right: 25%
}

.offset-4 {
    margin-right: 33.333333%
}

.offset-5 {
    margin-right: 41.666667%
}

.offset-6 {
    margin-right: 50%
}

.offset-7 {
    margin-right: 58.333333%
}

.offset-8 {
    margin-right: 66.666667%
}

.offset-9 {
    margin-right: 75%
}

.offset-10 {
    margin-right: 83.333333%
}

.offset-11 {
    margin-right: 91.666667%
}