@font-face {
  font-family: 'font-aws-brand';
  src: url('../font/fontsaws/fa-brands-400.eot');
  src: url('../font/fontsaws/fa-brands-400.eot?#iefix') format('embedded-opentype'),
  url('../font/fontsaws/fa-brands-400.woff2') format('woff2'),
  url('../font/fontsaws/fa-brands-400.woff') format('woff'),
  url('../font/fontsaws/fa-brands-400.ttf') format('truetype'),
  url('../font/fontsaws/fa-brands-400.svg') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'font-aws-regular';
  src: url('../font/fontsaws/fa-regular-400.eot');
  src: url('../font/fontsaws/fa-regular-400.eot?#iefix') format('embedded-opentype'),
  url('../font/fontsaws/fa-regular-400.woff2') format('woff2'),
  url('../font/fontsaws/fa-regular-400.woff') format('woff'),
  url('../font/fontsaws/fa-regular-400.ttf') format('truetype'),
  url('../font/fontsaws/fa-regular-400.svg') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'font-aws-solid';
  src: url('../font/fontsaws/fa-solid-900.eot');
  src: url('../font/fontsaws/fa-solid-900.eot?#iefix') format('embedded-opentype'),
  url('../font/fontsaws/fa-solid-900.woff2') format('woff2'),
  url('../font/fontsaws/fa-solid-900.woff') format('woff'),
  url('../font/fontsaws/fa-solid-900.ttf') format('truetype'),
  url('../font/fontsaws/fa-solid-900.svg') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'font-aws-duotone';
  src: url('../font/fontsaws/fa-duotone-900.eot');
  src: url('../font/fontsaws/fa-duotone-900.eot?#iefix') format('embedded-opentype'),
  url('../font/fontsaws/fa-duotone-900.woff2') format('woff2'),
  url('../font/fontsaws/fa-duotone-900.woff') format('woff'),
  url('../font/fontsaws/fa-duotone-900.ttf') format('truetype'),
  url('../font/fontsaws/fa-duotone-900.svg') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'font-aws-light';
  src: url('../font/fontsaws/fa-light-300.eot');
  src: url('../font/fontsaws/fa-light-300.eot?#iefix') format('embedded-opentype'),
  url('../font/fontsaws/fa-light-300.woff2') format('woff2'),
  url('../font/fontsaws/fa-light-300.woff') format('woff'),
  url('../font/fontsaws/fa-light-300.ttf') format('truetype'),
  url('../font/fontsaws/fa-light-300.svg') format('svg');
  font-style: normal;
  font-weight: normal;
}
.icon {
  &.light {
    font-family: 'font-aws-light';
  }

  &.duotone {
    font-family: 'font-aws-duotone';
  }

  &.solid {
    font-family: 'font-aws-solid';
  }

  &.regular {
    font-family: 'font-aws-regular';
  }

  &.brand {
    font-family: 'font-aws-brand';
  }

}

.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.calendar::before {
  content: "\f272";
}

.plus::before {
  content: "\f067";
}

.pen::before {
  content: "\f304";
}

.chevron-down::before {
  content: "\f078";
}

.chevron-right::before {
  content: "\f054";
}

.chevron-left::before {
  content: "\f053";
}

.dots::before {
  content: "\f2a1";
}

.question-circle::before {
  content: "\f059";
}

.map::before {
  content: "\f3c5";
}

.long-arrow-left::before {
  content: "\f177";
}

.plus-circle::before {
  content: "\f055";
}

.close::before {
  content: "\f00d";
}

.eye::before {
  content: "\f06e";
}

.search::before {
  content: "\f002";
}

.list::before {
  content: "\f0ca";
}
