/// Height of the slider's handle
/// @type String
$control-height: 10px;
/// Width of the slider's handle
/// @type String
$control-width: 13px;
/// Color of the slider's handle
/// @type Color
$control-color: #686ee4;
/// Size of the slider handle's text
/// @type String
$control-font-size: 18px;
/// Font Weight of the slider handle's text
/// @type String
$control-font-weight: 100;
/// Color of the slider's "fill" when connected
/// @type Color
$fill-color: darken($control-color, 10%);
/// Height of the slider's gutter
/// @type String
$gutter-height: 16px;

.noUi-horizontal{
  height: 7px;
}
/// noUiSlider Gutter
.noUi-background {
  height: $gutter-height;
  &.noUi-vertical {
    height: 200px;
    width: $gutter-height;
    margin: 0 auto 30px;
  }
}
.noUi-base {

  .noUi-connect {
    background-color: $fill-color;
  }
  /// noUiSlider Handle
  .noUi-handle {
    background-color: $control-color;
    border: none;
    border-radius: 6px;
    box-shadow: none;
    color: #FFFFFF;
    display: table;
    font-size: 15px;
    height: $control-height;
    left: 0;
    margin-left: 15px;
    margin-top: -($control-height/2) + $gutter-height/2 - 1;
    padding: 0;
    position: absolute;
    text-align: center;
    top: -7px;
    width: $control-width;
    z-index: 2;

    .noUi-horizontal & {
      cursor: ew-resize;
    }

    .noUi-vertical & {
      cursor: ns-resize;
      margin-left: -($control-width/2) + $gutter-height/2;
    }

    &:hover {
      background-color: lighten($control-color, 10%);
    }

    &.noUi-active {
      background-color: darken($control-color, 10%);
      z-index: 3;
    }

    &::before {
      background: transparent;
      content: attr(data-value);
      display: table-cell;
      font-size: $control-font-size;
      font-weight: $control-font-weight;
      position: static;
      width: 100%;
      vertical-align: middle;
    }
    &::after {
      display: none;
    }
  }
}
.noUi-marker{
  display: none;
}
.noUi-pips-horizontal{
  height: 45px;
}